.bottom-container {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 25px 25px 0 0;
  box-shadow: rgba(50, 50, 93, 25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  .temperature-details {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

    .temperature-details__item {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-right: 1px solid #a2a2be;

      .temperature-details__label {
        color: #a2a2be;
      }

      .temperature-details__value {
        font-weight: 500;
        margin-top: 7px;
      }

      &:last-child {
        border: 0;
      }
    }
  }

  .sunset-sunrise {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-around;
    margin: 30px auto;

    .sunset-sunrise__item {
      display: flex;
      flex-direction: column;
      align-items: center;

      .sunset-sunrise__value {
        font-weight: 500;
        margin-top: 7px;
      }
    }
  }
}
